# ðŸŽ¬ Movie Recommendation System
This notebook builds a basic collaborative filtering movie recommender using the MovieLens 100k dataset.

ðŸ‘‰ **Before Running**:
- Download the dataset from [MovieLens 100k](https://grouplens.org/datasets/movielens/100k/)
- Unzip it, and place the `ml-100k` folder in the **same directory** as this notebook.

In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import warnings; warnings.filterwarnings('ignore')

In [2]:
# Load data
ratings = pd.read_csv('ml-100k/u.data', sep='	', names=['user_id', 'movie_id', 'rating', 'timestamp'])
movies = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1', names=list(range(24)), usecols=[0, 1])
movies.columns = ['movie_id', 'title']
data = pd.merge(ratings, movies, on='movie_id')
data.head()

   user_id  movie_id  rating  timestamp                       title
0      196       242       3  881250949                Kolya (1996)
1      186       302       3  891717742    L.A. Confidential (1997)
2       22       377       1  878887116         Heavyweights (1994)
3      244        51       2  880606923  Legends of the Fall (1994)
4      166       346       1  886397596         Jackie Brown (1997)

In [3]:
# Pivot table for user-item matrix
user_movie_matrix = data.pivot_table(index='user_id', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)

In [4]:
# Similarity matrix
movie_similarity = cosine_similarity(user_movie_matrix.T)
movie_similarity_df = pd.DataFrame(movie_similarity, index=user_movie_matrix.columns, columns=user_movie_matrix.columns)

In [5]:
# Recommender function
def recommend_movies(movie_name, n=5):
    if movie_name in movie_similarity_df:
        return movie_similarity_df[movie_name].sort_values(ascending=False)[1:n+1]
    else:
        return 'Movie not found in dataset.'

# Example
recommend_movies('Toy Story (1995)')

title
Star Wars (1977)                 0.734572
Return of the Jedi (1983)        0.699925
Independence Day (ID4) (1996)    0.689786
Rock, The (1996)                 0.664555
Mission: Impossible (1996)       0.641322
Name: Toy Story (1995), dtype: float64